<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registrarServlet</servlet-name>
        <servlet-class>controller.registrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarServlet</servlet-name>
        <servlet-class>controller.listarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarServlet2</servlet-name>
        <servlet-class>controller.listarServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarServlet3</servlet-name>
        <servlet-class>controller.listarServlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarServlet</servlet-name>
        <url-pattern>/registrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarServlet</servlet-name>
        <url-pattern>/listar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarServlet2</servlet-name>
        <url-pattern>/listarServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarServlet3</servlet-name>
        <url-pattern>/listar3.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
